﻿@model IEnumerable<aractaders.Models.Hakkimizda>

@{
    var cdnUrl = System.Configuration.ConfigurationManager.AppSettings["CDNService:Url"];

}

@if (Model != null)
{
    foreach (var item in Model.OrderByDescending(x => x.ETarih).Take(1))
    {
        <div class="container">
            <div class="row pt-5">
                <div class="col-lg-7">
                    <h1 class="mb-0">@item.Baslik</h1>
                    <div class="divider divider-primary divider-small mb-4">
                        <hr class="mr-auto">
                    </div>
                    <img width="205" class="img-fluid float-left mr-4 mb-4 mt-1" alt="" src="@cdnUrl + @item.ResimId">

                    @Html.Raw(item.Aciklama)

                </div>
            </div>
        </div>
    }
}
