﻿<div class="container">

    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-10 register-box">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                <div class="alert alert-success text-center">
                                    <i class="fa fa-check fa-5" aria-hidden="true"></i>
                                    <strong>Randevunuz başarıyla oluşturulmuştur!</strong> 
                                    <div>Yetkili tarafından en kısa sürede iletişim bilgilerinizden sizle irtibata geçilecektir..</div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
