﻿<div class="container">
    <div class="row pt-5">
        <div class="col-lg-7">
            <h1 class="mb-0">İletişim</h1>
            <div class="divider divider-primary divider-small mb-4">
                <hr class="mr-auto">
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1502.6487174585666!2d29.048391100000003!3d41.128032499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacb99d89b1a37%3A0x7c0b5ecbabfc6d25!2zWWVuaWvDtnkgS2nFn2lzZWwgR2VsacWfaW0gS3Vyc3U!5e0!3m2!1str!2str!4v1543062748675" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
        <div class="col-lg-4 col-lg-offset-1">

            <h4 class="mb-0">Bize Ulaşın</h4>
            <div class="divider divider-primary divider-small mb-4">
                <hr class="mr-auto">
            </div>

            <ul class="list list-icons list-icons-style-3 mt-4 mb-4">
                <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Yeniköy Mahallesi Nuripaşa Caddesi Hacip Sokak. No:8  İstanbul/Sarıyer</li>
                <li><i class="fa fa-phone"></i> <strong>Telefon:</strong> 0 (212) 223 95 19</li>
                <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:dersheryerde@outlook.com">dersheryerde@outlook.com</a></li>
            </ul>

        </div>
    </div>
</div>