﻿@model IEnumerable<aractaders.Models.Randevular>

@*<script>
    setTimeout(function () {
        window.location = window.location;
    }, 30000);
</script>*@


@if (Session["utype"] != "teacher")
{
    <div class="container">
        <div class="row pt-5 pb-4">

            <div class="col">

                <h1 class="mb-0">Randevularım</h1>
                <div class="divider divider-primary divider-small mb-4">
                    <hr class="mr-auto">
                </div>

                @if (Model != null)
                {
                    if (Model.Any(x => x.randevu_tarih > DateTime.Today.Date))
                    {
                        <div class="row mt-4">
                            <div class="col">
                                <h4>Aktif Randevular</h4>

                                @foreach (var item in Model.OrderByDescending(x => x.tarih))
                                {
                                    if (item.randevu_tarih > DateTime.Today.Date)
                                    {
                                        var fa_class = item.Onay == true ? "fa fa-check-square" : "far fa-clock";
                                        var fa_color = item.Onay == true ? "green" : "red";

                                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-4">
                                            <span class="thumb-info-side-image-wrapper p-0 d-none d-md-block">
                                            </span>
                                            <span class="thumb-info-caption">
                                                <span class="thumb-info-caption-text" style="background-color:antiquewhite;">
                                                    <h2 class="mb-3 mt-1">@item.ogretmen_adi (@item.bolum)</h2>
                                                    <span class="post-meta">
                                                        Randevu tarihi: <b>@item.tarih @item.saat</b>
                                                    </span>
                                                    <p class="text-3 px-0 px-md-3">Adres: @item.adres</p>
                                                    @if (item.Onay == true)
                                                    {
                                                        <i class="fa fa-check-square" style="font-size:24px;color:green"></i>  <b> Randevunuz onaylandı. İlgili öğretmen yönlendiriliyor, süreç içerisinde sizinle iletişime geçeceğiz.</b>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-clock" style="font-size:24px;color:red"></i>  <b>Randevunuz henüz onaylanmadı, en kısa sürede sizinle iletişime geçeceğiz..</b>

                                                    }
                                                </span>
                                            </span>
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center non-appoinment">Aktif Randevunuz Bulunmamaktadır..</div>
                    }

                    <div class="row mt-4">
                        <div class="col">
                            <h4>Geçmiş Randevular</h4>

                            @foreach (var item in Model.OrderByDescending(x => x.tarih))
                            {
                                if (Model.Any(x => x.randevu_tarih < DateTime.Today.Date))
                                {
                                    if (item.randevu_tarih < DateTime.Today.Date)
                                    {
                                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-4">
                                        <span class="thumb-info-side-image-wrapper p-0 d-none d-md-block">
                                        </span>
                                        <span class="thumb-info-caption">
                                            <span class="thumb-info-caption-text">
                                                <h2 class="mb-3 mt-1">@item.ogretmen_adi (@item.bolum)</h2>
                                                <span class="post-meta">
                                                    Randevu tarihi: <b>@item.tarih @item.saat</b>
                                                </span>
                                                <p class="text-3 px-0 px-md-3">Adres: @item.adres</p>
                                            </span>
                                        </span>
                                    </span>
                                    }
                                }
                                else
                                {
                                    <div class="text-center non-appoinment">Geçmiş Randevunuz Bulunmamaktadır..</div>
                                }

                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row pt-5 pb-4">

            <div class="col">

                <h1 class="mb-0">Randevularım</h1>
                <div class="divider divider-primary divider-small mb-4">
                    <hr class="mr-auto">
                </div>

                @if (Model != null)
                {
                    if (Model.Any(x => x.randevu_tarih > DateTime.Today.Date))
                    {
                        <div class="row mt-4">
                            <div class="col">
                                <h4>Aktif Randevular</h4>

                                @foreach (var item in Model.OrderByDescending(x => x.tarih))
                                {
                                    if (item.randevu_tarih > DateTime.Today.Date)
                                    {
                                        var fa_class = item.Onay == true ? "fa fa-check-square" : "far fa-clock";
                                        var fa_color = item.Onay == true ? "green" : "red";

                                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-4">
                                            <span class="thumb-info-side-image-wrapper p-0 d-none d-md-block">
                                            </span>
                                            <span class="thumb-info-caption">
                                                <span class="thumb-info-caption-text" style="background-color:antiquewhite;">
                                                    <h2 class="mb-3 mt-1">Öğrenci: @item.ogrenci_adi</h2>
                                                    <span class="post-meta">
                                                        Randevu tarihi: <b>@item.tarih @item.saat</b>
                                                    </span>
                                                    <p class="text-3 px-0 px-md-3">Adres: @item.adres</p>
                                                    @if (item.Onay == true)
                                                    {
                                                        <i class="fa fa-check-square" style="font-size:24px;color:green"></i>  <b> Randevunuz onaylandı. Belirtilen tarih ve adrese özen göstermenizi önemle rica ederiz..  </b>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-clock" style="font-size:24px;color:red"></i>  <b>Yetkili tarafından değerlendiriliyor. Kısa sürede sizinle iletişime geçilecek.</b>

                                                    }
                                                </span>
                                            </span>
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center non-appoinment">Aktif Randevunuz Bulunmamaktadır..</div>
                    }

                    <div class="row mt-4">
                        <div class="col">
                            <h4>Geçmiş Randevular</h4>

                            @foreach (var item in Model.OrderByDescending(x => x.tarih))
                            {
                                if (Model.Any(x => x.randevu_tarih > DateTime.Today.Date))
                                {
                                    if (item.randevu_tarih < DateTime.Today.Date)
                                    {
                                    <span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-4">
                                        <span class="thumb-info-side-image-wrapper p-0 d-none d-md-block">
                                        </span>
                                        <span class="thumb-info-caption">
                                            <span class="thumb-info-caption-text">
                                                <h2 class="mb-3 mt-1">Öğrenci: @item.ogrenci_adi</h2>
                                                <span class="post-meta">
                                                    Randevu tarihi: <b>@item.tarih @item.saat</b>
                                                </span>
                                                <p class="text-3 px-0 px-md-3">Adres: @item.adres</p>
                                            </span>
                                        </span>
                                    </span>
                                    }
                                }
                                else
                                {
                                    <div class="text-center non-appoinment">Geçmiş Randevunuz Bulunmamaktadır..</div>
                                }

                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
