﻿@model IEnumerable<aractaders.Models.Ogretmenler>

@{
    var imageUrl = System.Configuration.ConfigurationManager.AppSettings["CDNService:Url"];

}
<div class="container">
    <div class="row pt-5">

        <div class="col-lg-9">

            <h1 class="mb-0">Öğretmenlerimiz</h1>
            <div class="divider divider-primary divider-small mb-4">
                <hr class="mr-auto">
            </div>

            @if (Model != null)
            {
                <div class="row team-list mt-1 sort-destination">
                    @foreach (var item in Model)
                    {
                    <div class="col-md-6 col-lg-4 mb-5 text-center isotope-item criminal-law new-york">
                        <a href="/ogretmendetay/@item.id">
                            <span class="thumb-info thumb-info-centered-info thumb-info-no-borders">
                                <span class="thumb-info-wrapper">
                                    <img src="@imageUrl@item.ResimId" class="img-fluid teacher-image" alt="">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner">Detay...</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                        <h4 class="mt-3 mb-0">@item.İsim</h4>
                        <p class="mb-0">@item.Bolum</p>
                        @*<span class="thumb-info-social-icons mt-2 pb-0">
                            <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                            <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                            <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                            </p>*@
                    </div>
                    }
                </div>
            }

        </div>

        @*<div class="col-lg-3">
            <aside class="sidebar">
                <div id="combinationFilters" class="filters">

                    <h4 class="mb-3">Practice Area:</h4>
                    <ul class="nav nav-list flex-column mb-5 sort-source team-filter-group" data-filter-group="group1">
                        <li data-option-value="" class="nav-item"><a class="nav-link active" href="#">Show All</a></li>
                        <li data-option-value=".criminal-law" class="nav-item"><a class="nav-link" href="#">Criminal Law</a></li>
                        <li data-option-value=".business-law" class="nav-item"><a class="nav-link" href="#">Business Law</a></li>
                        <li data-option-value=".divorce-law" class="nav-item"><a class="nav-link" href="#">Divorce Law</a></li>
                        <li data-option-value=".health-law" class="nav-item"><a class="nav-link" href="#">Health Law</a></li>
                        <li data-option-value=".capital-law" class="nav-item"><a class="nav-link" href="#">Capital Law</a></li>
                    </ul>

                    <h4 class="mt-5 mb-3">Location:</h4>
                    <ul class="nav nav-list flex-column mb-5 sort-source team-filter-group" data-filter-group="group2">
                        <li data-option-value="" class="nav-item active"><a class="nav-link active" href="#">Show All</a></li>
                        <li data-option-value=".new-york" class="nav-item"><a class="nav-link" href="#">New York</a></li>
                        <li data-option-value=".london" class="nav-item"><a class="nav-link" href="#">London</a></li>
                    </ul>

                </div>

                <h4 class="mt-5 mb-3">Contact Us</h4>
                <p>Contact us or give us a call to discover how we can help.</p>

                <div class="divider divider-primary divider-small mb-4">
                    <hr class="mr-auto">
                </div>

                <form id="contactForm" action="php/contact-form.php" method="POST">
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Your name *</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Your email address *</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Subject</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Message *</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="3" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <input type="submit" value="Send Message" class="btn btn-lg btn-primary" data-loading-text="Loading...">

                            <div class="alert alert-success d-none" id="contactSuccess">
                                Message has been sent to us.
                            </div>

                            <div class="alert alert-danger d-none" id="contactError">
                                Error sending your message.
                            </div>
                        </div>
                    </div>
                </form>

            </aside>
        </div>*@
    </div>

</div>