﻿@model aractaders.Models.Uyeler

<div class="container">

    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6 register-box">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-3">Üye Ol</h4>
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "frmSignUp" }))
                                {
                                    @Html.ValidationSummary(true)
                                    <div class="form-row">
                                        <div class="form-group col">
                                            @Html.LabelFor(x => x.ad, "Adınız")
                                            @Html.TextBoxFor(x => x.ad, htmlAttributes: new { @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(x => x.ad)
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            @Html.LabelFor(x => x.soyad, "Soyadınız")
                                            @Html.TextBoxFor(x => x.soyad, htmlAttributes: new { @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(x => x.soyad)
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            @Html.LabelFor(x => x.email, "Email Adresiniz")
                                            @Html.TextBoxFor(x => x.email, htmlAttributes: new { @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(x => x.email)
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            @Html.LabelFor(x => x.sifre, "Şifre")
                                            @Html.PasswordFor(x => x.sifre, htmlAttributes: new { @class = "form-control form-control-lg" })
                                            @Html.ValidationMessageFor(x => x.sifre)
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Üye Ol" class="btn btn-primary float-right mb-5" data-loading-text="Lütfen bekleyiniz...">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
