﻿@model aractaders.Models.Ogretmenler

@{
    var bolumler = ViewBag.bolumler;
    var isValid = ViewBag.IsValid;
}

<div class="container">

    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-md-6 register-box">
                        @if (isValid != null && isValid != "")
                        {
                            <div class="alert alert-danger mt-5">
                                @isValid
                            </div>
                        }
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-3">Başvuru Yap</h4>
                                @using (Html.BeginForm("TeacherResource", "Account", FormMethod.Post, new { @id = "frmSignUp", enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true)
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Fotoğraf:</label>
                                            <div class="input-group">
                                                <input type="file" name="FileUpload" /> (Dosyanız .jpg yada .png uzantısında ve 370px yüksekliğinde olmalıdır.)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Ad Soyad:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon"></i></span>
                                                @Html.TextBox("isim", null, new { @class = "form-control", @placeholder = "" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Bölüm</label>
                                            @Html.DropDownList("bolumler", null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Özgeçmişiniz</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon"></i></span>
                                                @Html.TextArea("ozgecmis", null, 5, 30, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Telefon:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon"></i></span>
                                                @Html.TextBox("tel", null, new { @class = "form-control", @placeholder = "0(511) 111 11 11" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Email:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon"></i></span>
                                                @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>Şifre:</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon"></i></span>
                                                @Html.Password("sifre", null, new { @class = "form-control", @placeholder = "" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="Başvuru Yap" class="btn btn-primary float-right mb-5" data-loading-text="Lütfen bekleyiniz...">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
