﻿<header id="header" class="header-narrow header-no-border-bottom" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 115, 'stickySetTop': '-115px', 'stickyChangeLogo': true}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Ders Her Yerde" width="300" height="98" data-sticky-width="222" data-sticky-height="67" data-sticky-top="107" src="/assets/img/dhy_164x54.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <ul class="header-extra-info d-flex align-items-center">
                            <li>
                                <div class="feature-box feature-box-call feature-box-style-2 align-items-center">
                                    <div class="feature-box-icon">
                                        <i class="icon-call-end icons"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4 class="mb-0">0 (212) 223 95 19</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="d-none d-md-inline-flex">
                                <div class="feature-box feature-box-mail feature-box-style-2 align-items-center">
                                    <div class="feature-box-icon">
                                        <i class="icon-envelope icons"></i>
                                    </div>
                                    <div class="feature-box-info">
                                        <h4 class="mb-0"><a href="mailto:dersheryerde@outlook.com">dersheryerde@outlook.com</a></h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-nav-bar header-nav-bar-primary">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-nav header-nav-stripe justify-content-start">
                                <div class="header-nav-main header-nav-main-light header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a class="nav-link" href="/">
                                                    Anasayfa
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="/hakkimizda">
                                                    Hakkımızda
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" href="/ogretmenlerimiz">
                                                    Öğretmenlerimiz
                                                </a>
                                            </li>
                                            @if (Session["utype"] != "teacher")
                                            {
                                                <li>
                                                    <a class="nav-link" id="btn-randevu" onclick="randevuClick();">
                                                        Randevu Oluştur
                                                    </a>
                                                </li>
                                            }
                                            @*<li>
                                                    <a class="nav-link" href="/duyurular">
                                                        Duruyurular
                                                    </a>
                                                </li>*@
                                            <li>
                                                <a class="nav-link" href="/iletisim">
                                                    İletişim
                                                </a>
                                            </li>
                                            @if (Session["uid"] != null)
                                            {
                                                <li>
                                                    <a class="nav-link" id="btn-randevularim" style="background-color:brown;">
                                                        Randevularım
                                                    </a>
                                                </li>
                                                        <li>
                                                            <a class="nav-link" href="/account/logout">
                                                                Çıkış Yap
                                                            </a>
                                                        </li>
                                            }
                                            else
                                            {
                                                <li class="dropdown dropdown-mega dropdown-mega-signin signin" id="headerAccount">
                                                    <a class="nav-link" href="/giris-yap">
                                                        <i class="fa fa-user"></i>  Giriş yap
                                                    </a>
                                                </li>
                                            }
                                            <li class="dropdown dropdown-mega dropdown-mega-signin signin" id="headerAccount">
                                                <a class="nav-link" href="/uyelik-olustur">
                                                    <i class="fa fa-user-plus"></i>     Üye Ol
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            @if (Session["ad"] != null)
                            {
                                <span>Hoşgeldin, @Session["ad"].ToString()</span>
                            }                            
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                Menu <i class="fa fa-bars"></i>
                            </button>
                            @*<div class="header-search d-none d-lg-block">
                                    <form id="searchForm" action="page-search-results.html" method="get">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-light" type="submit"><i class="icon-magnifier icons"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>