﻿<!DOCTYPE html>
<html lang="tr">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ders Her Yerde.com | Çağır ayağına gelsin</title>

    <meta name="keywords" content="özel ders,kurs,dershane,özel öğretmen,özel hoca,kolay ders,pratik ders,özel matematik,sınav hazırlık,ders her yerde,üniversite hazırlık" />
    <meta name="description" content="Özel ders artık her yerde. Sen çağır ayağına gelsin. | dersheryerde.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">



    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/theme-elements.css">
    <link rel="stylesheet" href="/assets/css/theme-blog.css">
    <link rel="stylesheet" href="/assets/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/assets/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/assets/vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="/assets/css/demos/demo-law-firm.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/css/skins/skin-law-firm.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">


    <!-- Head Libs -->

    <script src="/assets/vendor/modernizr/modernizr.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129723936-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129723936-1');
    </script>



</head>
<body>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Lütfen üye girişi yapın.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal-btn-si">Giriş Yap</button>
                    <button type="button" class="btn btn-default" id="modal-btn-no">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <div class="body">
        
         @Html.Partial("_Header")

        <div role="main" class="main">
            @RenderBody()
        </div>

        <footer class="short" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <p>Biz bir uçak mühendisi ve bir matematikçinin çekirdeğini oluşturduğu dersheryerde.com ekibiyiz.ömrünüzden ve vaktinizden tasarruf yapmanız için tek yapmanız gereken sitemizden öğretmeni seçmek ve konum belirtmek.</p>
                    </div>
                    <div class="col-lg-3 ml-lg-auto">
                        <h5 class="mb-2">Ders Her Yerde</h5>
                        <ul class="list list-icons mt-4 pt-2">
                            <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Yeniköy Mahallesi Nuripaşa Caddesi Hacip Sokak. No:8  İstanbul/Sarıyer</li>
                            <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:dersheryerde@outlook.com">dersheryerde@outlook.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h5 class="mb-2">Bize Ulaşın</h5>
                        <span class="phone">0 (212) 223 95 19</span>
                        <ul class="social-icons mt-4">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="https://twitter.com/dersheryerde" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="https://www.instagram.com/dersheryerde/" target="_blank" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p>© Copyright 2018. Her hakkı saklıdır</p>
                        </div>
                        <div class="col-md-4">
                            <span>Bu sitenin geliştirmesi <a href="http://kmdijital.uyuti.com" target="_blank">KM Dijital</a> tarafından sağlanmıştır.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="/assets/vendor/popper/umd/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/vendor/common/common.min.js"></script>
    <script src="/assets/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/assets/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/vendor/vide/vide.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/docs.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="/assets/js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="/assets/js/demos/demo-law-firm.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/js/theme.init.js"></script>


</body>
</html>
